.userPopout-3XzG_A .wrapper-3t9DeA::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	pointer-events: none;
	opacity: .5;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: var(--user-popout-position) center;
	background-image: var(--user-background);
	-webkit-mask-image: linear-gradient(#000, transparent);
}

.userPopout-3XzG_A  .header-2BwW8b,
.userPopout-3XzG_A  .scroller-2FKFPG,
.userPopout-3XzG_A  .footer-1fjuF6 {
	z-index: 1;
}

/*Sets default user popout position to center.*/

.userPopout-3XzG_A {
	--user-popout-position: center;
}

/*J*/

[user_by_bdfdb*="299009343960121344"],
[aria-label*="299009343960121344,"] {
	--user-background: url('https://cdn.discordapp.com/attachments/471188345859604480/650870964489420825/eye.gif');
}


/*Sky*/

[user_by_bdfdb*="437629282949398528"],
[aria-label*="437629282949398528,"] {
	--user-background: url('https://media.giphy.com/media/HoEiwd5SWgZ3O/giphy.gif');
}


/*panda*/

[user_by_bdfdb*="185964290732326912"],
[aria-label*="185964290732326912,"] {
	--user-background: url('https://cdn.discordapp.com/attachments/387469957530648578/567473530455982081/bdjsjs.gif');
}


/*cubez*/

[user_by_bdfdb*="275747792612229120"],
[aria-label*="275747792612229120,"] {
	--user-background: url('http://66.media.tumblr.com/d52faaa4e304f1efd543084128530914/tumblr_mqox3sevH81relaado1_500.gif');
}


/*tjay*/

[user_by_bdfdb*="361436348210741248"],
[aria-label*="361436348210741248,"] {
	--user-background: url('https://i.imgur.com/GmKQG0x.gif');
}

/*lucifer*/

[user_by_bdfdb*="605514546249072679"],
[aria-label*="605514546249072679,"] {
	--user-background: url('https://i.giphy.com/media/FWtVYDHIxgGgE/source.gif');
}