.userPopout-3XzG_A .avatarWrapperNormal-3wFMbf::after {
    content:'';
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
    pointer-events:none;
    opacity:.5;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    background-image:var(--popoutbg);
    -webkit-mask-image:linear-gradient(#000,transparent);
}
.userPopout-3XzG_A .header-2BwW8b *,
.userPopout-3XzG_A .body-3iLsc4 *,
.userPopout-3XzG_A .footer-1fjuF6 *{
    z-index:1;
}


/*J*/
.avatarWrapperNormal-3wFMbf[user_by_bdfdb*="459764783617540097"] {
    --popoutbg:url('https://cdn.discordapp.com/attachments/524430244279615488/567151135832408064/bg.png')
}
/* Sky */
.avatarWrapperNormal-3wFMbf[user_by_bdfdb*="437629282949398528"] {
    --popoutbg:url('https://media.giphy.com/media/HoEiwd5SWgZ3O/giphy.gif')
}

/* panda */
.avatarWrapperNormal-3wFMbf[user_by_bdfdb*="185964290732326912"] {
    --popoutbg:url('https://cdn.discordapp.com/attachments/387469957530648578/567473530455982081/bdjsjs.gif')
}

/* cubez */
.avatarWrapperNormal-3wFMbf[user_by_bdfdb*="275747792612229120"] {
    --popoutbg:url('http://66.media.tumblr.com/d52faaa4e304f1efd543084128530914/tumblr_mqox3sevH81relaado1_500.gif')
}

/* tjay */
.avatarWrapperNormal-3wFMbf[user_by_bdfdb*="361436348210741248"] {
    --popoutbg:url('https://i.imgur.com/GmKQG0x.gif')
}
