@charset "UTF-8";

:root {
  --mc: var(--main-color);
}

.avatar-1BDn8e:hover ~ span {
  opacity: 1;
}

.chat-3bRxxu>.content-yTz4x3 .messages-3amgkR .containerCozy-jafyvG {
  overflow: visible;
}

.avatar-1BDn8e ~ span::after {
  color: var(--main-color, var(--mc, rgb(var(--BG-tint-colour, 114, 137, 218))));
  font-size: 13px;
  position: absolute;
  bottom: -25px;
  left: 43px;
  border-radius: 2px;
  cursor: pointer;
  font-family: BMTicons;
  pointer-events: none;
  display: inline-block !important;
}

.avatar-1BDn8e:hover ~ span::after {
  font-family: "Whitney", "Helvetica";
  --main-color: #000;
  background-color: var(--main-color);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  padding: 6px 10px;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 600;
  z-index: 3000000;
  display: block;
  position: absolute;
  pointer-events: none;
  color: #fff;
  width: auto;
  opacity: 1;
  box-sizing: border-box;
  white-space: nowrap;
  bottom: -31px;
}

.guild-settings-audit-logs .large-3ChYtB:not(.wrapper-2F3Zv8)::after,
.guild-settings-audit-logs .large-3ChYtB:not(.wrapper-2F3Zv8)::before,
.standardSidebarView-3F1I7i .large-3ChYtB:not(.wrapper-2F3Zv8)::after,
.standardSidebarView-3F1I7i .large-3ChYtB:not(.wrapper-2F3Zv8)::before,
.inner-1JeGVc .large-3ChYtB:not(.wrapper-2F3Zv8)::after,
.activityFeed-1C0EmJ .large-3ChYtB:not(.wrapper-2F3Zv8)::after{
  display: none !important;
}


/* ========= START OF USER TAGS ============== */

  /* before hover */
.avatar-1BDn8e[src*="605514546249072679"] ~ span::after {
  content: " ‍ ";
}


  /* on hover */
.avatar-1BDn8e[src*="605514546249072679"]:hover ~ span::after {
  content: 'Luci';
  --main-color: #800080;
}


/* ======= SPECIAL TAGS ========= */
/* badges */

.avatar-1BDn8e[src*="310953740645695488"] ~ span::after,
.avatar-1BDn8e[src*="217067165734404096"] ~ span::after,
.avatar-1BDn8e[src*="276918035317784576"] ~ span::after,
.avatar-1BDn8e[src*="226776770664202240"] ~ span::after,
.avatar-1BDn8e[src*="185964290732326912"] ~ span::after,
.avatar-1BDn8e[src*="222600098205401089"] ~ span::after,
.avatar-1BDn8e[src*="198318980321116169"] ~ span::after,
.avatar-1BDn8e[src*="275747792612229120"] ~ span::after,
.avatar-1BDn8e[src*="399320463534325782"] ~ span::after,
.avatar-1BDn8e[src*="299009343960121344"] ~ span::after,
.avatar-1BDn8e[src*="437629282949398528"] ~ span::after {
  content: '';
  color: transparent;
  height: 15px;
  width: 15px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  bottom: -33px;
  left: 51px;
  pointer-events: none;
  filter: drop-shadow(0 0 2px var(--primary-color)) drop-shadow(0 0 2px var(--primary-color)) drop-shadow(0 0 2px var(--primary-color))
}


/* on hover */
.avatar-1BDn8e[src*="310953740645695488"]:hover ~ span::after,
.avatar-1BDn8e[src*="217067165734404096"]:hover ~ span::after,
.avatar-1BDn8e[src*="276918035317784576"]:hover ~ span::after,
.avatar-1BDn8e[src*="226776770664202240"]:hover ~ span::after,
.avatar-1BDn8e[src*="185964290732326912"]:hover ~ span::after,
.avatar-1BDn8e[src*="222600098205401089"]:hover ~ span::after,
.avatar-1BDn8e[src*="198318980321116169"]:hover ~ span::after,
.avatar-1BDn8e[src*="275747792612229120"]:hover ~ span::after,
.avatar-1BDn8e[src*="399320463534325782"]:hover ~ span::after,
.avatar-1BDn8e[src*="299009343960121344"]:hover ~ span::after,
.avatar-1BDn8e[src*="437629282949398528"]:hover ~ span::after {
  color: white;
  transform: none;
  background-size: cover;
  background-position: center;
  padding: 6px 10px !important;
  height: auto;
  width: fit-content !important;
  box-sizing: border-box !important;
  white-space: nowrap !important;
  bottom: -31px !important;
  font-weight: 700;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  filter: none;
  display: block !important;
  background-color: transparent;
  box-shadow: none !important;
}






/* My friends and my borders */
.container-3FojY8 .avatar-1BDn8e[src*="226776770664202240"] ~ span::before,
.container-3FojY8 .avatar-1BDn8e[src*="276918035317784576"] ~ span::before,
.container-3FojY8 .avatar-1BDn8e[src*="217067165734404096"] ~ span::before,
.container-3FojY8 .avatar-1BDn8e[src*="310953740645695488"] ~ span::before,
.container-3FojY8 .avatar-1BDn8e[src*="185964290732326912"] ~ span::before,
.container-3FojY8 .avatar-1BDn8e[src*="364300975151906816"] ~ span::before,
.container-3FojY8 .avatar-1BDn8e[src*="399320463534325782"] ~ span::before,
.container-3FojY8 .avatar-1BDn8e[src*="275747792612229120"] ~ span::before,
.container-3FojY8 .avatar-1BDn8e[src*="299009343960121344"] ~ span::before,
.container-3FojY8 .avatar-1BDn8e[src*="437629282949398528"] ~ span::before{
  content: '';
  position: absolute;
  height: 44px;
  width: 44px;
  top: 0px;
  left: 14px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  border-radius: var(--roundness, --user-roundness, 50px) !important;
  z-index: -1;
}

.container-3FojY8 .avatar-1BDn8e[src*="226776770664202240"]:hover ~ span::before,
.container-3FojY8 .avatar-1BDn8e[src*="276918035317784576"]:hover ~ span::before,
.container-3FojY8 .avatar-1BDn8e[src*="217067165734404096"]:hover ~ span::before,
.container-3FojY8 .avatar-1BDn8e[src*="310953740645695488"]:hover ~ span::before,
.container-3FojY8 .avatar-1BDn8e[src*="185964290732326912"]:hover ~ span::before,
.container-3FojY8 .avatar-1BDn8e[src*="364300975151906816"]:hover ~ span::before,
.container-3FojY8 .avatar-1BDn8e[src*="399320463534325782"]:hover ~ span::before,
.container-3FojY8 .avatar-1BDn8e[src*="275747792612229120"]:hover ~ span::before,
.container-3FojY8 .avatar-1BDn8e[src*="299009343960121344"]:hover ~ span::before,
.container-3FojY8 .avatar-1BDn8e[src*="437629282949398528"]:hover ~ span::before {
  border-radius: var(--roundness, --user-roundness, 50px) !important;
}

/* mine */
.container-3FojY8 .avatar-1BDn8e[src*="299009343960121344"] ~ span::before {
  background-image: url(https://i.imgur.com/LULAcYN.gif);
  box-shadow: 0 0 5px rgba(246, 255, 192, 0.658);
}

/* sky */
.container-3FojY8 .avatar-1BDn8e[src*="437629282949398528"] ~ span::before {
  background-image: url(https://media2.giphy.com/media/l4KihuqeuJEi9qLSM/giphy.gif);
  background-size: 150%;
}

/* psy */
.container-3FojY8 .avatar-1BDn8e[src*="226776770664202240"] ~ span::before {
  background-image: url(https://cdn.discordapp.com/attachments/541876475545124869/541876516816945152/ezgif-1-1e9ef659b8b6.gif);
}

/* zach */
.container-3FojY8 .avatar-1BDn8e[src*="276918035317784576"] ~ span::before {
  background-image: url(https://cdn.discordapp.com/attachments/541876475545124869/541877193232482314/giphy.gif);
}

/* jazzer */
.container-3FojY8 .avatar-1BDn8e[src*="217067165734404096"] ~ span::before {
  background-image: url(https://cdn.discordapp.com/attachments/541876475545124869/541877514608443402/tenor_1.gif);
}

/* memes */
.container-3FojY8 .avatar-1BDn8e[src*="310953740645695488"] ~ span::before {
  background-image: url(https://cdn.discordapp.com/attachments/541876475545124869/541878087353237514/tenor_2.gif);
}

/* panda */

.container-3FojY8 .avatar-1BDn8e[src*="185964290732326912"] ~ span::before {
  background-image: url(https://cdn.discordapp.com/attachments/541827249771642880/542571682171322386/88d5e21cba1b773ef3371b763e92dc7b.gif);
}

/* hammy */
.container-3FojY8 .avatar-1BDn8e[src*="364300975151906816"] ~ span::before {
  background-image: url(https://cdn.discordapp.com/attachments/541876475545124869/549674189762854922/giphy.gif);
}

/* sora */
.container-3FojY8 .avatar-1BDn8e[src*="399320463534325782"] ~ span::before {
  background-image: url(https://i.imgur.com/PKzhYKk.gif);
}

/* cubez */
.container-3FojY8 .avatar-1BDn8e[src*="275747792612229120"] ~ span::before {
  background-image: url(http://66.media.tumblr.com/tumblr_lt679ihTAg1qj4vr1o1_500.gif);
}

/* badges */
/* ===== FRIENDOS ===== */
/* mine */
.avatar-1BDn8e[src*="299009343960121344"]::after {
  background-image: url(https://kurokiriouo.github.io/DiscordThemes/assets/jasoncrown.svg);
  transition: filter .2s ease-in-out;
  transform: scale(1.1);
}

.avatar-1BDn8e[src*="299009343960121344"]:hover ~ span::after {
  filter: drop-shadow(0 0 3px #0e0d0d);
}

/* sky */
.avatar-1BDn8e[src*="437629282949398528"] ~ span::after {
  background-image: url(https://cdn.discordapp.com/attachments/471188285641981972/542173215397642240/download_10.svg);
  transform: scale(1.1);
}

/* memes */
.avatar-1BDn8e[src*="310953740645695488"] ~ span::after {
  background-image: url(https://cdn.discordapp.com/attachments/541876475545124869/541900039954366464/download_9.svg);
  transform: scale(1.1);
}

/* jazzer */
.avatar-1BDn8e[src*="217067165734404096"] ~ span::after {
  background-image: url(https://cdn.discordapp.com/attachments/471188285641981972/541859834988068884/download_2.svg);
}

/* zach */
.avatar-1BDn8e[src*="276918035317784576"] ~ span::after {
  background-image: url(https://cdn.discordapp.com/attachments/471188285641981972/541873977170198538/download_6.svg);
}

/* psy */
.avatar-1BDn8e[src*="226776770664202240"] ~ span::after {
  background-image: url(https://cdn.discordapp.com/attachments/471188285641981972/542174653246865439/download_11.svg);
}

/* sora */
.avatar-1BDn8e[src*="399320463534325782"] ~ span::after {
  background-image: url(https://cdn.discordapp.com/attachments/541876475545124869/541897575020756993/download_8.svg);
}

/* panda */
.avatar-1BDn8e[src*="185964290732326912"] ~ span::after {
  background-image: url(https://kurokiriouo.github.io/DiscordThemes/assets/pandacross.svg);
}

/* weest */
.avatar-1BDn8e[src*="222600098205401089"] ~ span::after {
  background-image: url(https://kurokiriouo.github.io/DiscordThemes/assets/weest.svg);
}

/* ben */
.avatar-1BDn8e[src*="198318980321116169"] ~ span::after {
  background-image: url(https://kurokiriouo.github.io/DiscordThemes/assets/ben.svg);
}

/* cubez */
.avatar-1BDn8e[src*="275747792612229120"] ~ span::after {
  background-image: url(https://i.imgur.com/m2shpbj.png);
}



/* ======= TAG ANIMATIONS ========= */
.avatar-1BDn8e[src*="605514546249072679"]:hover ~ span:after{
  animation: mentionpulse 1.5s infinite, popoutanim .2s;
}





/* ---- keyframes ---- */
@keyframes fallBounce { /* 1s */
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  25% {
    opacity: 1;
    transform: translateY(0) scale(1.1, 0.9);
  }
  50% {
    transform: translateY(-20%) scale(0.9, 1.1);
  }
  75% {
    transform: translateY(0)
  }
}

@keyframes scaleSpin { /* .4s */
  from {
    transform: scale(0) rotate(360deg);
  }
  to {
    transform: scale(1) rotate(0);
  }
}

@keyframes popoutanim {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeFromRight {
  0% {
      opacity: 0;
      transform: translateX(50%)
  }
  100% {
      opacity: 0.9;
      transform: none
  }
}

@keyframes fadeFromRight {
  0% {
      opacity: 0;
      transform: translateX(50%)
  }
  100% {
      opacity: 0.9;
      transform: none
  }
}

@-webkit-keyframes mentionpulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 var(--main-color);
  }
  70% {
    -webkit-box-shadow: 0 0 0 5px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}