//META{"name":"Discord Reborn","description":"A nice sleek transparent theme.","author":"Jason","version":"7"}*//
/* YOU NEED BETTER DISCORD INSTALLED FOR THIS TO WORK. DOWNLOAD THE BD INSTALLER HERE: https://github.com/rauenzi/BetterDiscordApp/releases */
/* YOU CAN FIND THEME INSTALL INSTRUCTIONS AT THE BOTTOM OF THIS FILE */

/* IMPORT CSS FROM GITHUB */
@import "https://kurokiriouo.github.io/DiscordThemes/css/discord-reborn.css";
/*

/*
===== IMPORTANT =====
CHANGE DISCORDS THEME TO DARK THEME IN APPEARANCE SETTINGS FOR THIS THEME TO WORK!
===== CUSTOMIZABLE COLORS AND IMAGES =====
*/
:root {
  --roundness: 50px; /* edit roundness of icons from 0px to 50px */
  --main-color: #682666; /* Main Color */ 
  --hover-color: #DE84DB; /* Hover Color */
  --home-color: #eee; /* Change home icon color */
  --home-size: 24px; /* size of the home icon */
  --shadow: rgba(0,0,0,.4); /* change to darken lighten, or set to transparent */
  --background-image: url(https://cdn.discordapp.com/attachments/471188285641981972/532048550528548874/0ghA0tOh.jpeg); /* change background */
    --background-blur: 0px; /* Main Background Blur */
  --popup-background: url(https://cdn.discordapp.com/attachments/471188285641981972/532048550528548874/0ghA0tOh.jpeg); /* Background for popups and modals */
    --background-darkness: 0.75; /* change the darkness of your background. 1 makes it completely black, 0 makes it like the original image */
 }

/* Rounded Server Icons */
.blobContainer-239gwq {
    --roundness: 50%
}

/* Extended Role List */
.rolesList-22qj2L {
    max-height: none;
    overflow-y: none;
}

/*
---------------------------------------------------------------------------------------------------------------------------------------------
===== CREDITS =====
URI
BEARDDESIGN
ZERTHOX
THESE PEOPLE HAVE HELPED CREATE THIS THEME IN ONE WAY OR THE OTHER.
---------------------------------------------------------------------------------------------------------------------------------------------
*/