/* YOU NEED BETTER DISCORD INSTALLED FOR THIS TO WORK. DOWNLOAD THE BD INSTALLER HERE: https://github.com/rauenzi/BetterDiscordApp/releases */
/* YOU CAN FIND THEME INSTALL INSTRUCTIONS AT THE BOTTOM OF THIS FILE */
//META{"name":"Discord Reborn Beta","description":"A nice sleek transparent theme.","author":"Jason","version":"6.5"}*//
/* IMPORT CSS FROM GITHUB */
@import url("https://kurokiriouo.github.io/DiscordThemes/css/discord-reborn.css");
/*

/*
===== IMPORTANT =====
CHANGE DISCORDS THEME TO DARK THEME IN APPEARANCE SETTINGS FOR THIS THEME TO WORK!
===== CUSTOMIZABLE COLORS AND IMAGES =====
*/
:root {
	--main-color: #682666;
  --hover-color: #DE84DB;
  --background-image: url(https://cdn.discordapp.com/attachments/471188285641981972/532048550528548874/0ghA0tOh.jpeg);
  --popup-background: url(https://cdn.discordapp.com/attachments/471188285641981972/532048550528548874/0ghA0tOh.jpeg);
 }

/* Rounded Server Icons */
.guild-1EfMGQ {
  --roundness : 50px;
}
.rolesList-22qj2L {
    max-height: none;
    overflow-y: none;
}

/*
---------------------------------------------------------------------------------------------------------------------------------------------
===== CREDITS =====
URI
BEARDDESIGN
ZERTHOX
THESE PEOPLE HAVE HELPED CREATE THIS THEME IN ONE WAY OR THE OTHER.
===== TROUBLESHOOTING =====
PLEASE DM WalkingDude#0808 
THEME INSTALL INSTRUCTIONS: https://imgur.com/88h6Vcy
---------------------------------------------------------------------------------------------------------------------------------------------
*/
